<!--<ul>-->
<!--  @for (country of countries; track country) {-->
<!--    <li>-->
<!--      <span>{{ country.capital }}</span>-->
<!--      <span [style]="{'margin-left': '10px'}">{{ country.code }}</span>-->
<!--    </li>-->
<!--  }-->
<!--</ul>-->

<!--@if (!countries) {-->
<!--  <p>Loading...</p>-->
<!--}-->

<!--<ul *ngIf="(countries$ | async) as countries; else loading">-->
<!--  <li *ngFor="let country of countries">-->
<!--    <span>{{ country.capital }}</span>-->
<!--    <span [style]="{'margin-left': '10px'}">{{ country.code }}</span>-->
<!--  </li>-->
<!--</ul>-->

<!--<ng-template #loading>-->
<!--  <p>Loading...</p>-->
<!--</ng-template>-->

<ul>
  @for (country of countries$ | async; track country) {
    <li>
      <span>{{ country.capital }}</span>
      <span [style]="{'margin-left': '10px'}">{{ country.code }}</span>
    </li>
  }
</ul>

@if (!countries$) {
  <p>Loading...</p>
}
