<div class="wrapper">
  <ul>
    @for (country of countries$ | async; track country) {
      <li>
        <div class="country-list__item-wrapper">
          <p>
            Country name is: <span>{{ country.name }}</span>
          </p>
          <p>
            Capital is: <span>{{ country.capital }}</span>
          </p>
          <p>
            Currency is: <span>{{ country.currency }}</span>
          </p>
        </div>
      </li>
    }
  </ul>

  <p-button label="Update" icon="pi pi-refresh" iconPos="bottom" (click)="update()"/>
</div>

@if (!countries$) {
  <p>Loading...</p>
}
